html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Roboto';
  text-align: center;
}

ol,
ul {
  list-style: none;
}
input,
button,
submit {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}
#mainBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
section {
  height: 100vh;
  width: 100%;
  background: #efefef;
}
.possitionAbsolute {
  position: absolute;
}
.container {
  width: 120px;
  padding-top: 20%;
}
.ccsBox {
  padding-left: 160px;
}
.codeBlock1 {
  padding-left: 160px;
}
.codeBlock2 {
  padding-left: 35px;
  padding-top: 10px;
}
.codeBlock3 {
  padding-top: 85px;
}
h1 {
  padding-top: 5%;
  padding-left: 40%;
  font-size: 3rem;
}
#buttonGroup {
  padding-top: 5%;
  padding-left: 52%;
  width: 90%;
  button {
    background: #efefef;

    font-size: 1rem;
  }
}
